.introImage {
    position: relative;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
}

.bigIdea {
    position: absolute;
    text-align: center;
    top: 250px;
    color: white;
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
}